<table *ngIf="userInfos" class="table text-center">
    <thead>
        <tr>
            <th colspan="2" class="text-center">Profil d'utilisateur</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td >Nom</td>
            <td>{{userInfos.nom}}</td>
        </tr>
        <tr>
            <td>Prénom</td>
            <td>{{userInfos.prenom}}</td>
        </tr>
        
        <tr>
            <td>Email</td>
            <td>{{userInfos.email}}</td>
        </tr>
    </tbody>
  </table>