<div class="alert alert-danger" *ngIf='serverErrorMessages'>
    {{ serverErrorMessages }}
</div>

<h2 class="text-center"> Recherche Avancé </h2>
<form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
    <div class="form-group">
        <input type="text" #nom="ngModel" class="form-control" name="nom" [(ngModel)]="produit.nom" placeholder="ex du nom du produit: Nike Air" >
    </div>
    
    <div class="form-group">
        <input type="text" #marque="ngModel" class="form-control" name="marque" [(ngModel)]="produit.marque" placeholder="ex de la marque: Nike" >
    </div>

    <div class="form-group">
        <input type="text" #categorie="ngModel" class="form-control" name="categorie" [(ngModel)]="produit.categorie" placeholder="ex de la categorie : Chaussures" >
    </div>

    <div class="form-group">
        <label for="prixMax">Prix max &nbsp; </label>
        <input matInput id="prixMax" type="number" name="prix" placeholder="Votre prix max" [(ngModel)]="produit.prix" readonly>
        &nbsp;&nbsp;
        <mat-slider 
            class="slider"
            #prix="ngModel" name="prix" 
            [(ngModel)]="produit.prix" 
            [max]="max" 
            [min]="min" [step]="step" >
        </mat-slider>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Recherche</button>
    </div>
</form>