<flash-messages></flash-messages>
<table class="table">
    <thead>
        <tr >
            <th scope="col">#</th>
            <th scope="col">Nom Produit</th>
            <th scope="col">Marque</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Prix</th>
            <th *ngIf="userService.isLoggedIn()" scope="col">Action</th>
        </tr>

    </thead>
    <tbody *ngIf='produits.length > 0'>
        <tr  *ngFor="let produit of produits; let i = index" class="card">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ produit['nom'] }}</td>
            <td><a [routerLink]="">{{ produit['marque'] }}</a></td>
            <td><a [routerLink]="['/produits', produit.type]">{{ produit['type'] }}</a></td>
            <td>{{ produit['prix'] }}</td>
            <td *ngIf="userService.isLoggedIn()"> 
                <form (submit)="onAjout(f,produit.nom, produit.type, produit.prix)" #f="ngForm" class="text-center ">
                    <input ngModel #nomProduit="ngModel" name="nomProduit"  type="hidden" [value]="produit.nom">
                    <input ngModel #quantite="ngModel" name="quantite" type="number" class=" w-100" min="1" step="1" required>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary btn-sm">Ajouter <mat-icon>shopping_cart</mat-icon></button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf='produits.length <= 0 || produits === null'>
    <p class="text-center">Il n'y a pas de produits correspond aux critères de recherche!</p>
</div>